<!DOCTYPE html>
<head>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="d-flex justify-content-center">
            <h1>
                Family Friend
            </h1>
        </div>

    </div>

    <div class="d-flex justify-content-center">
        <div class="card">
            <div class="card-body">
                <div class="card-text">
                    Due to the Cost of living crisis currently sweeping the UK, This optimiser is here to help you out! and nobody 
                    has been hurt more than families.
                    <br>
                    Simply insert basic financial information and we'll tell you the best way to organise your spending. So you can
                    stay a float in these uncertain times.

                </div>
                <br>
                <div class="d-flex justify-content-center">
                    <a href="/getInfo" class="btn btn-primary"> Get Started</a>
                </div>
            </div>
        </div>
    </div>
</body>