<!DOCTYPE html>
<head>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="d-flex justify-content-center">
        <h1>
            You Are Under Spending
        </h1>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Leasure</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Decrease your luxary spending</h6>
                  <p class="card-text"> If you were to increase leasure spending by 10% you could decrease your savings by 7%<p>
                  <a href="#" class="card-link">How to</a>
                </div>
              </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Location</h5>
                  <h6 class="card-subtitle mb-2 text-muted">You are not living in london</h6>
                  <p class="card-text"> London is an expensive area to live, moving there could be more convinient for work<p>
                  <a href="#" class="card-link">How to</a>
                </div>
              </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Transport</h5>
                  <h6 class="card-subtitle mb-2 text-muted">You didnt use any transportation</h6>
                  <p class="card-text"> you have not used any transpotation. Transpotation and travelling is good for your physical and mental health, try doing it more. <p>
                  <a href="#" class="card-link">How to</a>
                </div>
              </div>
        </div>
    </div>
</body>